header{

  height: 100%;
  position: relative;
}
header .wrap{

  max-width: 100%;
  z-index: 1;
  position: relative;
  height: 100%;
  display: flex;
}
header .wrap h1{

  font-size: 25px;
  width: 134px;
  position: relative;
  height: 26px;
  position: absolute;
  align-items: center;
  display: flex;
  background-image: url(../img/logo_white.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 11%;
  left: 4%;
}
header .wrap h1 a{

  font-size: 0;
}
header .wrap a.search{

  position: absolute;
  align-items: center;
  display: flex;
  font-size: 0;
  top: 11%;
  right: 130px;
}
header .wrap a.search span{

  background-image: url(../img/search.png);
  width: 25px;
  height: 25px;
  background-size: contain;
}
header .wrap ul.gnb{

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  background-image: url(../img/gnb_background.jpg);
  display: none;
  background-size: 115%;
  background-repeat: no-repeat;
  background-position: center;
}
header .wrap ul.gnb.moveShow{
  display: flex;
  gap: 38px;
}
header .wrap ul.gnb li{

  gap: 17px;
  display: flex;
}

header .wrap ul.gnb li h2{

  font-weight: 700;
  width: 584px;
  font-size: 135px;
  text-align: left;
  float: left;
  padding-left: 16%;
}

header .wrap ul. gnb ul li:hover ul{
  display: block;
}
header .wrap ul.gnb li h2 a{

  color: white;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.8);
}
header .wrap ul.gnb li h2 a:hover{
  
  -webkit-text-stroke: 0;
  -webkit-text-fill-color: #fff;
}
header .wrap ul.gnb ul.sub{

  width: 149px;
  float: left;
  height: 135px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  display: none;
  padding-top: 20px;
  box-sizing: border-box;
}
header .wrap ul.gnb li:hover ul.sub{
  display: flex;
}
header .wrap ul.gnb ul.sub .subShow{
  
}

header .wrap ul .gnb ul.sub:nth-child(2){
  display: flex;
}

header .wrap ul.gnb ul.sub li{

  /*! width: 100%; */
  /*! height: 41px; */
  display: flex;
}

header .wrap ul.gnb ul.sub li a{
  
  /*! justify-content: center; */
  /*! display: flex; */
  /*! flex-direction: column; */
  /*! align-items: center; */
  /*! height: 50px; */
  line-height: 1.5;
  font-size: 20px;
  color: white;
}
header .wrap a.allmenu {
  display: block;
  position: absolute;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 0;
  width: 30px;
  line-height: 0;
  z-index: 5;
  top: 11%;
  right: 4%;
}
header .wrap a.allmenu::before{
 content: "";
 display: block;
 width: 100%;
 height: 2px;
 background-color: #fff;
 transition: all 1s;
 transform-origin: 50% 50%; 
}
header .wrap a.allmenu span{
display: block;
width: 100%;
height: 2px;
background-color: #fff;
transform: translateY(-3px);
 transition: all 1s;
  
}
header .wrap a.allmenu::after{
 content: "";
display: block;
width: 100%;
height: 2px;
background-color: #fff;
transition: all 1s;
transform-origin: 50% 50%;  
}

header .wrap a.allmenu.x::before{
transform:translateY(11px) rotate(45deg);
}
header .wrap a.allmenu.x span{
transform:translateY(-3px) translateX(-90px);
opacity: 0;
}
header .wrap a.allmenu.x::after{
transform:translateY(-11px) rotate(-45deg);
}