@media screen and (max-width:768px){
/* --> common   */
  .wrap{

  }
/* header */
  header{
    height: 100%;
  }
  header .wrap{
    
  }
  header .wrap h1{
    
  top: calc(10% * 0.7);
  }
  header .wrap a.search{
  top: calc(10% * 0.7);
  right: calc(110px * 0.7);
  /*! right: 16%; */
  }
  header .wrap a.allmenu{
  top: calc(10% * 0.7);  
  }
  header .wrap ul.gnb.moveShow{
    
  gap: calc(38px * 0.7);
  }
  header .wrap ul.gnb{
    
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/gnb_backgroudM.jpg);
  overflow: hidden;
  }
  
  header .wrap ul.gnb li{
    
  }
  header .wrap ul.gnb li h2{
    
  font-size: calc(85px * 0.7);
  padding-left: calc(16% * 0.7);
  }
  header .wrap ul.gnb li h2 a{
    
  width: 395px;
  display: block;
  }
  header .wrap ul.gnb li:hover ul.sub{
    display: none;
  }
/*  title  */
  #title{
    
  }
  #title .title-cover video{
    object-fit: cover;
    height: 100%;
  }
/*  -----main----  */
/*  product  */
  #product{
    
  height: 170vw;
  min-height: initial;
  }
  #product .wrap{
    
  min-height: initial; 
  /*! padding-top: 10vw; */
  padding: initial;
  }
  #product .wrap ul{
    
  min-height: initial;
  height: 150vw;
  padding-top: calc((170vw - 150vw) / 2) !important;
  box-sizing: border-box;
  }
  #product .wrap ul li a{
    
  width: initial;
  }
  #product .wrap ul li span{
    

  }
  #product .wrap ul li span img{
    

  width: 300px;

  margin: auto;
  height: auto;
  width: 73%;
  margin-top: 34%;
  width: 62%;
  }
  #product .wrap .list{
    

  margin: initial;
  text-align: center;
  align-items: center;
  }
  
  #product .wrap .list h2.category{
    
  top: 0;
  font-size: 4vw;
  }
  #product .wrap .list h3.name{
    
  top: 7%;
  font-size: 10vw;
  }
  #product .wrap .list p.type{
    
  width: fit-content !important;
  height: fit-content !important;
  padding: 5px;
  font-size: 3.5vw;
  top: initial !important;
  }
  #best .wrap li:nth-child(5) p.type{
  background-color: #9ed560;
  }
  #best .wrap li:nth-child(6) p.type{
    background-color:#70ac71; 
  }
  #product .wrap li .list p.tags{
    
  font-size: 4.4vw;
  top: 130vw;
  }
  #product .wrap .list p.contents{
    
  font-size: 3.5vw;
  top: 136vw;
  }
/* --------- best --------- */
  #best{
    
  height: 100vh;
  }
  #best .wrap{
    
  height: 90vw;
  }
  #best .wrap .text{
    
  padding: initial;
  float: initial;
  text-align: center;
  width: 100%;
  }
  #best .wrap .text h2{
    
  width: 100%;
  font-size: 30px;
  }
  #best .wrap .text p{
    
  font-size: 20px;
  }
  #best .wrap .text a{
    
  font-size: 2.5vw;
  /*! padding: 10px 15px 10px; */
  display: none;
  }
  #best .wrap .list{
    
  /*! position: absolute; */
  }
  #best .wrap .list ul li{
    
  align-items: center;
  }
  #best .wrap .list ul li span{
    
  display: flex;
  justify-content: center;
  }
  #best .wrap .list ul li span img{
    
  width: 40vw;
  height: 40vw;
  margin: auto;
  }
  #best .wrap .list ul li span.hoverimg img {
  opacity: 0;
  z-index: 3;
  width: 40vw;
  height: 40vw;
  }
  
  #best .wrap .list ul li a:hover span img{
    
  }

  #best .wrap .list ul li a{
    
  width: 225px;
  width: 47vw;
  height: 75vw;
  padding: initial;
  margin: auto;
  }
  #best .wrap .list ul li p.type{

  }
  #best .wrap .list ul li:nth-child(3) p.type{
    background-color: #9ed560;
  }
  #best .wrap .list ul li:nth-child(4) p.type{
    background-color:#70ac71; 
  }
  #best .wrap .list ul li p.tags{
    
  font-size: 4vw;
  width: 100%;
  }
  #best .wrap .list ul li p.contents{
    
  font-size: 15px;
  }
  #best .wrap .list ul.bestSlide{
    
  }
/* --------- best --------- */
  #drops{
    
  min-height: initial;
  height: 500px;
  background-repeat: no-repeat;
  width: 100%;
  background-image: url(../img/dropsM.jpg);
  background-size: cover;
  background-attachment: initial;
  } 
  #drops .wrap{
    
  justify-content: initial;
  padding-top: 15%;
  }
  #drops .wrap h2.little{
    
  font-size: 8vw;
  }
  #drops p.text{
    
  font-size: 14px;
  margin-top: 20px;
  }
  /* --------- event --------- */
  #eventimg{
    
  }
  #eventimg h2{
    
  padding-top: 15%;
  padding-bottom: 8%;
  }
  #eventimg .wrap{
    
  width: 88%;
  margin-bottom: 11%;
  }
  #eventimg ul{
    
  flex-direction: column;
  }
  #eventimg ul li.imglist{
  opacity: 1;
  /*! margin: auto; */
  }
  #eventimg a img{
    
  width: 100%;
  height: 100%;
  }
/* productSlide 슬라이드 */
  .productSlide .slick-dots{ 
    height:  fit-content !important;
    bottom: -12vw !important;
  }
  productSlide button.slick-arrow{
     background-color: initial;
     top: 79%;
  }

  .productSlide .slick-prev{
    width: 6vw;
    height: 6vw;
  }
  .productSlide .slick-prev::before{
     transform: rotate(-135deg);
  }
  .productSlide .slick-next{
     width: 6vw;
     height: 6vw;
   }
  .productSlide .slick-next::before{
      transform: rotate(45deg);
   }
  .productSlide button.slick-arrow::before{
      font-family: initial !important;
      content: "" !important;
      width: 4vw;
      height: 4vw;
      display: block;
      border: 1px solid black;
      border-bottom:transparent;
      border-left:transparent;   
    }
  .productSlide button.slick-arrow.slick-prev{
    z-index: 1;
    left: 6vw;
   }
   .productSlide button.slick-arrow.slick-next{
     right: 6vw
   }
  .productSlide .slick-prev::before{
     transform: rotate(-135deg);
   }
   productSlide .slick-next::before{
     transform: rotate(45deg);
   }

  .bestSlide .slick-dots{
    bottom: -77px;
  }
/*  ------footer------  */
  footer{
    
  height: 340px;
  }
  footer .wrap{
    
  padding: 20px;
  }
  footer .wrap h2{
    
  width: 107px;
  height: 20px;
  margin-bottom: 23px;
  background-size: contain;
  }
  footer .wrap p{
    
  }
  footer .wrap p a{
    
  right: 20px;
  }
  footer .wrap .gnb{
    
  }
  footer .wrap .gnb ul{

  }
  footer .wrap .gnb ul li{
    
  }
  footer .wrap .gnb ul li a{

  }
  footer .wrap .gnb ul li:nth-child(2) a::before,
  footer .wrap .gnb ul li:nth-child(3) a::before{

  margin: 0 20px;
  }

  footer .wrap .gnb ul li a:hover{

  }
  footer .wrap .address{

  position: absolute;
  bottom: 30px;
  }
  footer .wrap .address p{

  position: initial;
  }
  footer .wrap .address p span{

  }
  footer .wrap .address p span::before{
      content: "";

      margin: 0 10px;
  }

  footer .wrap .address p.copyright{
    
  position: initial;
  }
  strong{

  }
  a.top{

  width: 50px;
  height: 50px;
  background-size: contain;
  bottom: 20px;
  right: 20px;
  }
  .imglist.currentC{
    
  animation: initial;
  }
  .productSlide .slick-dots{
    bottom:  -60px !important;
    left: initial !important;
    width: 100% !important;
    }
  .productSlide .slick-dots::before{
    content: initial !important;
  }
  .productSlide .slick-dots::after{
    content: initial !important;
  }
}
  




